<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs/AuctionLogs.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff} - %level - [%logger] - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.JustMock" publicKeyToken="721b6c5bc0326b3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.929.5" newVersion="2015.3.929.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="DefaultScore" value="5"/>
    <add key="Step" value="10" />
    <add key="StartedAndUnfinishedBids" value="3" />
    <add key="StartedAndUnfinishedBidsByCategory" value="2" />
    <add key="LastNScores" value="3" />
    <add key="MinimumScore" value="5" />
    <add key="BannedDays" value="3" />
    <add key="DaysToWait" value="5" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="AuctionDB" connectionString="metadata=res://*/Models.AuctionDB.csdl|res://*/Models.AuctionDB.ssdl|res://*/Models.AuctionDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDAN\SQLEXPRESS;initial catalog=AuctionDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>